<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="com.jackshen.ws.sample_xsd" />

	<sws:annotation-driven />
 
	<bean id="hello" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
	  <property name="schema" ref="schema"/>
	  <property name="portTypeName" value="HelloService"/>
	  <property name="locationUri" value="/helloService/"/>
	</bean>
	<bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema">
	    <property name="xsd" value="classpath:com/jackshen/ws/sample_xsd/hello.xsd"/>
	</bean>
	
	<!-- <bean class="org.springframework.ws.transport.http.WebServiceMessageReceiverHandlerAdapter">
		<property name="messageFactory" ref="messageFactory" />
	</bean> -->
	
<!-- 	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />
 --> 
 

    
</beans> 